<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springzym.core.mapper.UserMapper">

    <select id="getIdAndNameByTripartiteId" resultType="com.springzym.core.entity.User">
        select u.id,u.name from user as u , user_association as ua where ua.tripartite_Id = #{tripartiteId}
    </select>
</mapper>
